GOOGLE_SHEET_ID=
GOOGLE_SERVICE_ACCOUNT_PATH=service_account.json

JWT_SECRET=your_super_secret_jwt_key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

ADMIN_USER_1=admin
ADMIN_PASS_1=password123
ADMIN_USER_2=superadmin
ADMIN_PASS_2=superpassword
